/* shared styles */
* {
    font-family: "work-sans", sans-serif;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    border-radius: 6px;
    border: 0px;
    padding: 13px 17px;
    margin: 28px 0px 38px 0px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
/* header styles */
header{
    background: #fff4e7;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner img{
    width: 100%;
}
.banner-img{
    height: 400px;
}
/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
    .nav-title{
        font-size: 25px;
        font-weight: 700;
        color: #131313;
        margin-left: -200px;
    }
    .banner-content{
        max-width: 800px;
        margin: 0 auto;
    }   
    .banner-title{
        font-size: 28px;
        font-weight: 700;
        color: #131313;
        margin-left: -100px;
    }
    .banner-description{
        font-size: 12px;
        font-weight: 400;
        color: #727272;
        margin-left: -90px;
    }
    .btn-primary{
        background-color: #ff900e;
        color: white;
        border-radius: 8px;
        border: 0px;
        padding: 8px 25px;
        margin-left: -96px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav-title{
        font-size: 18px;
        font-weight: 700;
        color: #131313;
        margin-left: -150px;
    }
    .banner-content{
        max-width: 800px;
        margin: 0 auto;
    }   
    .banner-title{
        font-size: 25px;
        font-weight: 700;
        color: #131313;
        margin-left: -100px;
    }
    .banner-description{
        font-size: 12px;
        font-weight: 400;
        color: #727272;
        margin-left: -100px;
    }
    .btn-primary{
        background-color: #ff900e;
        color: white;
        border-radius: 8px;
        border: 0px;
        padding: 8px 15px;
        margin-left: -105px;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    .banner img{
        margin-left: -50px;
    }
}
/* main styles */
main{
    
    margin: 0 auto;
}
/* features styles */
.features-container{
    display: flex;
    align-items: center;
}
.features-img-container{
    padding: 60px 50px 70px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-content{
    padding-right: 190px;
}
.img-1{
    width: 200px;
}
.img-2{
    width: 200px;
}
.img-3{
    width: 200px;
}
.img-4{
    width: 200px;
}
.features-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.features-title-1{
    color: #727272;
    font-size: 25px;
    font-weight: 400;
}
.features-title-2{
    color: #131313;
    font-size: 25px;
    font-weight: 600;
}
.features-title-3{
    color: #ff900e;
    font-size: 25px;
    font-weight: 600;
}